.px-rem{
    width: 65%;
    height: 65%;
}
.px-rem-nav{
    width: 75%;
    height: 75%;
    margin-top: 2.5rem;
}
.bg-antrasite{
    background-color: #0f0f0f;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 5rem;
}
p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    line-height: 2rem;
    opacity: .8;
}
.p{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
hr.rounded {
    border-top: 2px solid rgb(53, 53, 53);
    border-radius: 5px;
    width: 75%;
    margin:0 auto;
}
.r-align-list{
    text-align: right;
    list-style-position: inside;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
.contact-a{
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
}
.rounded-full {
    border-radius: 9999px;
}
.btn-vip{
    background-color: #383838;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-family: 'Nunito', sans-serif;
}
button:hover.asd {
    background-color: #585858;
}
button:focus.asd {
    border: 5px;
    border-color: rgb(0, 110, 255);
}
.center{
    text-align: center;
}
.formcolor{
    background-color: #191919;
    border-color: #191919;
    color: white;
}
textarea:focus.formcolor{
    background-color: #191919;
    color: white;
}
input:focus.formcolor{
    background-color: #191919;
    color: white;
}